@model Scratchpad

<h1>@Model.Title</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ScratchpadId" />

    <div class="form-group">
        <label asp-for="ProjectId"></label>
        <div><span asp-validation-for="ProjectId" class="text-danger"></span></div>
        <select model-for="ProjectId" class="form-control">
            <option disabled selected value="">Select a Project</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <div><span asp-validation-for="Title" class="text-danger"></span></div>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="text-left">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Cancel</a>
    </div>
</form>
