@model UsageViewModel

<h1>Notes.Net</h1>

<h4>Statistics on the usage of Notes.Net:</h4>
<table class="table table-borderless table-striped table-sm">
    <tr>
        <th>Total Scratchpads:</th>
        <td>@Model.TotalScratchpads</td>
    </tr>
    <tr>
        <th>Total Notes:</th>
        <td>@Model.TotalNotes</td>
    </tr>
    <tr>
        <th>Total Content:</th>
        <td>@Model.TotalContent</td>
    </tr>
</table> 

